# Editor
.vscode
.vs

# Workbench 
*.mwb

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Yarn integrity file
.yarn-integrity

# Environment variables file
.env
.env.test