# editor
.vscode

# workbench 
model.mwb.bak

# logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# dependency directories
node_modules/
jspm_packages/

# optional eslint cache
.eslintcache

# yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test